h1 {text-align: center;}
table { margin: auto; border-collapse: collapse; border-radius: 20px; background-color: rgb(250, 233, 201);}
td {padding: 10px 20px;}

.title_name { background-color: orange; border-bottom: 2px solid brown; }